not_commit
test.sh
test.log
.DS_Store

emr/install-glog.sh

emr/hadoop
emr/spark
emr/starrocks
emr/presto
emr/ranger
emr/airflow

system/install-vim.sh
system/install-coreutils.sh
system/install-thrift.sh
system/install-ccache.sh
system/install-curl.sh

backend/mongo
backend/metabase
backend/nginx
backend/zookeeper/s6
backend/codeserver/s6
backend/mysql/install-mysql-bak.sh