[mysqld]

datadir={data_dir}
socket={data_dir}/mysql.sock

log-error={mysqld_log}
pid-file={data_dir}/mysqld.pid

port={port}

lower_case_table_names=1

character-set-server=utf8

# https://dev.mysql.com/doc/refman/8.4/en/password-management.html
# default_password_lifetime = 0

# default to bind ipv4
# https://dev.mysql.com/doc/refman/5.7/en/ipv6-server-config.html
bind-address = 0.0.0.0

# mysqlx-bind-address = 0.0.0.0

# mysqlx-port = {mysqlx_port}

[client]
default-character-set=utf8
[mysql]
default-character-set=utf8

